.item {
    margin-top: 40px;
    text-align: left;
}

.item .card-item {
    margin: 15px 0;
}

.item .card {
    padding-left: 10px;
    position: relative;
}

.item .card-item .card .col-md-8 {
    padding: 10px;
}

.item .card-title {
    padding: 0;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.item .card-subtitle, .item .card-footer {
    font-size: 13px;
}

.item .card-footer {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    bottom: 10px;
}
